body{
    color:#E2d0d9 ;
    background-color:#8a0054;
    max-width: 7680px;
}
a:visited, a{
    color: #8a0054;
}
.slideshow-container {
  max-width: 1140px;
  position: relative;
  margin: auto;
  margin-bottom: 50px;
}


.mySlides {
  display: none;
}

.slideimg {
  width: 100%;
  max-height: 520px;
}

/* Add fade animation */
.fade {
  animation: fade 4s ease-in-out infinite; }

@keyframes fade {
  0%, 100% {
      opacity: 0;
  }
  20%, 80% {
      opacity: 1;
  }
}




footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #E2d0d9;
    height: auto;
    width: 100vw;
    margin-top: 50px;
    padding-top: 40px;
    color: #fff;
    
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.footer-bottom{
    background: #E2d0d9;
    width: 100vw;
    padding: 20px;
padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
  float: right;

}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li{
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li{
  color: #27bcda;
}

.footlink:hover :visited :link :active{
  color: #8a0054;
}

