.behuz{
    margin-top: 20px;
    margin-left: 21.24356748%;
    margin-right: 21.24356748%;
    text-align: left;
    height: 80%;
  }
  .placeholder {
    width: 200px;
    height: 120px;
    background-color: red;
    margin: 5px; /* Margó a kockák között */
    
}
#videok{
  margin-bottom: 30px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Vagy bármilyen más igazítási mód, amely megfelel az igényeidnek */
  align-items: stretch; /* Vagy bármilyen más igazítási mód, amely megfelel az igényeidnek */
  width: 1140px;
}

.flex-container iframe {
  flex-basis: calc(33.33% - 20px); /* Adj meg megfelelő margin-t vagy padding-et az elemek között */
  margin-bottom: 20px;}


  